<div class="container">
    {{investmentList.criteria | json}}
    {{investmentList.investments | json}}
    <form role="form" name="searchForm" class="form-horizontal">
        <div class="form-group">
            <label for="name-address" class="control-label col-sm-12">Название, адрес</label>

            <div class="col-sm-4">
                <input type="text" class="form-control" id="name-address" ng-model="investmentList.criteria.nameAddress">
            </div>
            <div class="col-sm-3">
                <common-list-field
                        multiple
                        label="Класс"
                        model="investmentList.criteria.classes"
                        items="investmentList.getInvestClass()">
                </common-list-field>
            </div>
            <label class="col-sm-1 control-label text-right">GBA, м2</label>
            <label class="col-sm-1 control-label text-right">от</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.gba.from">
            </div>

            <label class="col-sm-1 control-label text-right">до</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.gba.to">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Город</label>
                    <div class="col-sm-9">
                        <ui-select ng-model="investmentList.criteria.cities" ng-change="investmentList.onCitiesChange()" multiple>
                            <ui-select-match>{{$item.text}}</ui-select-match>
                            <ui-select-choices
                                    repeat="item.text as item in investmentList.getCities() | filter:$select.criteria">
                                {{item.text}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <common-list-field
                        multiple
                        label="Сегмент"
                        model="investmentList.criteria.segments"
                        items="investmentList.getInvestSegment()">
                </common-list-field>
            </div>

            <label class="col-sm-1 control-label text-right">GLA, м2</label>
            <label class="col-sm-1 control-label text-right">от</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.gla.from">
            </div>

            <label class="col-sm-1 control-label text-right">до</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.gla.to">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <common-list-field
                        multiple
                        label="Округ"
                        model="investmentList.criteria.districts"
                        items="investmentList.getDistricts()">
                </common-list-field>
            </div>
            <div class="col-sm-4">
                <common-list-field
                        multiple
                        label="Статус"
                        model="investmentList.criteria.statuses"
                        items="investmentList.getInvestStatus()">
                </common-list-field>
            </div>

            <label class="col-sm-1 control-label text-right">Участок, Га</label>
            <label class="col-sm-1 control-label text-right">от</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.landGa.from">
            </div>

            <label class="col-sm-1 control-label text-right">до</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.landGa.to">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <common-list-field
                        multiple
                        label="Кольца"
                        model="investmentList.criteria.rings"
                        items="investmentList.getInvestRings()">
                </common-list-field>
            </div>
            <div class="col-sm-4">
                <common-list-field
                        multiple
                        label="Арендный статус"
                        model="investmentList.criteria.leaseStatuses"
                        items="investmentList.getInvestLeaseStatus()">
                </common-list-field>
            </div>

            <label class="col-sm-1 control-label text-right">Цена</label>
            <label class="col-sm-1 control-label text-right">от</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.amount.from">
            </div>
            <label class="col-sm-1 control-label text-right">до</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.amount.to">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <common-list-field
                        multiple
                        label="Метро"
                        model="investmentList.criteria.subways"
                        items="investmentList.getSubways()">
                </common-list-field>
            </div>
            <div class="col-sm-4">
            </div>

            <label class="col-sm-1 control-label text-right">Цена за м2</label>
            <label class="col-sm-1 control-label text-right">от</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.sqm.from">
            </div>
            <label class="col-sm-1 control-label text-right">до</label>

            <div class="col-sm-1">
                <input type="number" class="form-control" ng-model="investmentList.criteria.sqm.to">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button type="button" class="btn btn-primary" aria-label="Add" ng-click="investmentList.doSearch()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
            <div class="col-sm-3">
                <common-list-field
                        label="Валюта"
                        model="investmentList.criteria.currencies"
                        items="investmentList.getKfCurrency()">
                </common-list-field>
            </div>

        </div>
    </form>
    <div class="row">
        <table datatable="ng" class="row-border hover" dt-options="investmentList.dtOptions" dt-column-defs="investmentList.dtColumnDefs">
            <thead>
            <tr class="control-row">
                <th>
                    <button type="button" class="btn btn-default" aria-label="Print">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>Брифы
                    </button>
                </th>
            </tr>
            <tr>
                <th></th>
                <th>Название</th>
                <th>Адрес</th>
                <th>Класс</th>
                <th>Сегмент</th>
                <th>Ар. статус</th>
                <th>GBA,м2</th>
                <th>GLA,м2</th>
                <th>Цена,$</th>
                <th>$ за м2 GBA</th>
                <th>$ за м2 GLA</th>
                <th>Изменен</th>
                <th>Менеджер</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="investment in investmentList.investments track by $index">
                <td>
                    <input type="checkbox" ng-model="investment.checked">
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="investment.test"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>                                                 `