<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">Компания</label>
                        <input type="text" class="form-control" id="exampleInputName2" ng-model="query">
                    </div>
                    <button ng-click="ctrl.search(query)" class="btn btn-success"><i class="fa fa-search"></i></button>
                    <a href="#" ui-sref="account.new" class="btn btn-default"><i class="fa fa-plus-circle"></i></a>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table datatable="ng"
                   class="row-border hover table table-striped"
                   dt-options="ctrl.dtOptions"
                   dt-column-defs="ctrl.dtColumnDefs">
                <thead>
                <tr>
                    <th>Компания/Группа</th>
                    <th>Телефон</th>
                    <th>Факс</th>
                    <th>Сайт</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in ctrl.accounts track by $index">
                    <td>
                        {{account.account}}
                    </td>
                    <td>
                        {{account.mainphone}}
                    </td>
                    <td>
                        {{account.fax}}
                    </td>
                    <td>
                        {{account.webaddress}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>