<common-typeahead id="city"
                  label="Город"
                  label-size="col-sm-3"
                  input-size="col-sm-8"
                  model="ctrl.model.location.city"
                  async-getter="ctrl.getCities"></common-typeahead>
<common-typeahead id="region"
                  label="Край/Область"
                  label-size="col-sm-3"
                  input-size="col-sm-8"
                  model="ctrl.model.location.region"
                  async-getter="ctrl.getRegions"></common-typeahead>
<common-typeahead id="district"
                  label="Район"
                  label-size="col-sm-3"
                  input-size="col-sm-8"
                  model="ctrl.model.location.district"
                  async-getter="ctrl.getDistricts"></common-typeahead>
<div class="form-group">
    <label class="col-sm-3 control-label">Метро</label>
    <div class="col-sm-8">
        <common-list model="ctrl.model.location.subways" items="ctrl.getSubways()" multiple></common-list>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-3 control-label">Магистрали</label>
    <div class="col-sm-8">
        <common-list model="ctrl.model.location.magistrals" items="ctrl.getMagistrals()" multiple></common-list>
    </div>
</div>
