.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .control-label.text-right {
    text-align: right;
}

.forward-slash {
    float: left;
    position: relative;
    padding-top: 8px;
}

.typeahead-loading-icon {
    padding-top: 8px;
}