.form-horizontal .control-label {
    text-align: left;
}

.form-horizontal .control-label.text-right {
    text-align: right;
}

.forward-slash {
    float: left;
    position: relative;
    padding-top: 8px;
}

.typeahead-loading-icon {
    padding-top: 8px;
}

.nav .nav-tabs {
    margin-bottom: 15px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.width-100 {
    width: 100%;
}

.form-control.width-100 {
    width: 100%;
}