<div class="row">
    <div class="col-sm-8">
        <form role="form" name="investmentForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Тип объекта</label>
                <div class="col-sm-7">
                    <ui-select ng-model="investmentObject.investment.propertyType" ng-change="investmentObject.reset()">
                        <ui-select-match>{{$select.selected.text}}</ui-select-match>
                        <ui-select-choices
                                repeat="item.text as item in investmentObject.getInvestPropertyType() | filter:$select.search">
                            <span ng-bind-html="item.text | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div ng-include="investmentObject.currentTemplate"></div>
        </form>
    </div>
    <div class="col-sm-4">
        <h4>Resulting investment:</h4>
        {{investmentObject.investment | json}}
    </div>
</div>