<div class="container">
    <div class="progress" ng-show="investmentNew.busy">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only"></span>
        </div>
    </div>

    <tabset justified="true">
        <tab heading="Описание"><investment-object-component investment="investmentNew.investment"></investment-object-component></tab>
        <tab heading="Блоки"><investment-blocks-component investment="investmentNew.investment"></investment-blocks-component></tab>
        <tab heading="Собственники и Арендаторы"><investment-owners-component investment="investmentNew.investment"></investment-owners-component></tab>
        <tab heading="Фото"><investment-picture-component investment="investmentNew.investment"></investment-picture-component></tab>
        <tab heading="Дополнительно"><investment-extra-component investment="investmentNew.investment"></investment-extra-component></tab>
    </tabset>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-offset-9 col-sm-3">
                <a
                        ng-link="main:investmentList"
                        ng-disabled="investmentNew.busy"
                        ng-class="{disabled:investmentNew.busy}"
                        class="btn btn-default">
                    <i class="mdi-navigation-arrow-back left"></i>
                    Отмена
                </a>
                <button
                        ng-disabled="!investmentForm.$valid || investmentNew.busy"
                        ng-class="{disabled:!investmentForm.$valid || investmentNew.busy}"
                        ng-click="investmentNew.add()"
                        class="btn btn-primary">
                    <i class="mdi-navigation-check left"></i>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>