<div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group col-sm-4">
                            <label for="accountrus">Название (рус)</label>
                            <input type="text" class="form-control" id="accountrus"
                                   ng-model="ctrl.account.detail.accountrus">
                        </div>

                        <div class="form-group col-sm-4">
                            <label>Статус</label>
                            <pick-list model="ctrl.account.status"
                                       type="Account Status">
                            </pick-list>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="webaddress">Сайт</label>
                            <input type="text" class="form-control" id="webaddress" ng-model="ctrl.account.webaddress">
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="account">Название (eng)</label>
                            <input type="text" class="form-control" id="account" ng-model="ctrl.account.account">
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Тип</label>
                            <pick-list model="ctrl.account.type"
                                       type="Account Type" multiple>
                            </pick-list>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Телефоны</h4>
                    <hr/>
                    <form class="form-horizontal">
                        <div class="form-group col-sm-12">
                            <label for="mobile-phone-prefix" class="col-sm-4 control-label">Телефон</label>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="mobile-phone-prefix"
                                       ng-model="ctrl.account.detail.mainprefix">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="mobile-phone"
                                       ng-model="ctrl.account.mainphone">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="work-phone-prefix" class="col-sm-4 control-label">Факс</label>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="work-phone-prefix"
                                       ng-model="ctrl.account.detail.faxprefix">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="work-phone" ng-model="ctrl.account.fax">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="home-phone-prefix" class="col-sm-4 control-label">Доп. телефон</label>

                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="home-phone-prefix"
                                       ng-model="ctrl.account.detail.tollprefix">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="home-phone"
                                       ng-model="ctrl.account.tollfree">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4>Адреса</h4>
                    <hr/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4>Консультанты</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Офис</label>
                                </div>
                                <div class="col-md-4">
                                    {{ctrl.account.detail.officeManager}}
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-danger" aria-label="Remove"
                                            ng-click="ctrl.addManager()">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-feedback">
                                <input type="text"
                                       ng-model="ctrl.account.detail.officeManager"
                                       typeahead-on-select="ctrl.onNewManagerSelect($item)"
                                       typeahead="item as item.username for item in ctrl.getManagers($viewValue)"
                                       typeahead-wait-ms="500"
                                       typeahead-loading="loadingManagers"
                                       class="form-control">
                                <span class="form-control-feedback">
                                    <i ng-show="loadingManagers"
                                       class="fa fa-refresh fa-spin"></i></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-success" aria-label="Add"
                                    ng-click="ctrl.addManager()">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>