<div class="row">
    <div class="col-sm-12">

        <form>
            <div class="form-group col-sm-3">
                <label for="lastname">Фамилия</label>
                <input type="text" class="form-control" id="lastname" ng-model="ctrl.contact.lastname">
            </div>
            <div class="form-group col-sm-3">
                <label for="firstname">Имя</label>
                <input type="text" class="form-control" id="firstname" ng-model="ctrl.contact.firstname">
            </div>
            <div class="form-group col-sm-3">
                <label for="middlename">Отчество</label>
                <input type="text" class="form-control" id="middlename" ng-model="ctrl.contact.middlename">
            </div>
        </form>
    </div>
</div>