<div class="row">
    <div class="col-sm-12">

        <form>
            <div class="form-group col-sm-3">
                <label for="lastname-rus">Фамилия</label>
                <input type="text" class="form-control" id="lastname-rus" ng-model="ctrl.contact.contactDetail.lastrus">
            </div>
            <div class="form-group col-sm-3">
                <label for="firstname-rus">Имя</label>
                <input type="text" class="form-control" id="firstname-rus" ng-model="ctrl.contact.contactDetail.firstrus">
            </div>
            <div class="form-group col-sm-3">
                <label for="middlename-rus">Отчество</label>
                <input type="text" class="form-control" id="middlename-rus" ng-model="ctrl.contact.contactDetail.middlerus">
            </div>
            <div class="form-group col-sm-3">
                <label>Пол</label>
                <common-list model="ctrl.contact.contactDetail.sex" items="ctrl.ListApi.getSex()"></common-list>
            </div>
            <div class="form-group col-sm-3">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" ng-model="ctrl.contact.lastname">
            </div>
            <div class="form-group col-sm-3">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" id="firstname" ng-model="ctrl.contact.firstname">
            </div>
            <div class="form-group col-sm-3">
                <label for="middlename">Middlename</label>
                <input type="text" class="form-control" id="middlename" ng-model="ctrl.contact.middlename">
            </div>
            <div class="form-group col-sm-3">
                <label>Язык</label>
                <common-list model="ctrl.contact.contactDetail.language" items="ctrl.ListApi.getLanguage()"></common-list>
            </div>
        </form>
    </div>
</div>