<div class="fixed-action-btn" style="bottom: 100px; right: 60px;">
    <a ng-link="main:offerNew" class="btn-floating btn-large waves-effect waves-light red">
        <i class="large mdi-content-add"></i>
    </a>
</div>

<div class="container">
    <div class="row">
        <div ng-show="investmentList.busy" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="investment in investmentList.investments | orderBy:'-created_at'">
            <div class="col l12">
                {{investment}}
            </div>
        </div>
    </div>
</div>