
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a ng-link="main:investmentNew" class="btn btn-primary">+</a>
        </div>
    </div>
    <div class="row">
        <div ng-show="investmentList.busy" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="investment in investmentList.investments | orderBy:'-created_at'">
            <div class="col l12">
                {{investment}}
            </div>
        </div>
    </div>
</div>