<div class="row">
    <div class="col-md-12">
        <table datatable="ng" class="row-border hover table table-striped " dt-options="ctrl.dtOptions" dt-column-defs="ctrl.dtColumnDefs">
            <thead>
            <tr>
                <th>Компания / группа</th>
                <th>Персона</th>
                <th>Телефоны</th>
                <th>e-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contact in ctrl.contacts track by $index">
                <td>
                    <a ui-sref="account.edit({id: contact.accountid})" href="#">{{contact.accountName}}</a>
                </td>
                <td>
                    <a ui-sref="contact.createupdate.description({id: contact.contactid})" href="#">{{contact | fullname}}</a>
                </td>
                <td>
                    {{(contact.contactDetail.mobileprefix + contact.mobile) | phone}}
                </td>
                <td>
                    <a ng-href="mailto:{{contact.email}}">{{contact.email}}</a>
                    <a ng-href="mailto:{{contact.secondaryEmail}}">{{contact.secondaryEmail}}</a>
                    <a ng-href="mailto:{{contact.email3}}">{{contact.email3}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
