<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>
                <dl class="dl-horizontal">
                    <dt>Компания</dt>
                    <dd><a ui-sref="account.edit({id: ctrl.contact.accountid})"
                           href="#">{{ctrl.contact.accountName}}</a></dd>
                    <dt>Контакт</dt>
                    <dd>{{ctrl.contact | fullname}}</dd>
                </dl>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                <a href="#" ui-sref="contact.note.new({contactid: ctrl.contact.contactid})" class="btn btn-default"
                   ng-disabled="ctrl.contact.contactid == ''"><i class="fa fa-pencil"></i></a>
                <a href="#" ui-sref="contact.ring.new({contactid: ctrl.contact.contactid})" class="btn btn-default"
                   ng-disabled="ctrl.contact.contactid == ''"><i class="fa fa-bell"></i></a>
                <a href="#" ui-sref="contact.presentation.new({contactid: ctrl.contact.contactid})"
                   class="btn btn-default" ng-disabled="ctrl.contact.contactid == ''"><i class="fa fa-home"></i></a>
                <a href="#" ui-sref="contact.application.new({contactid: ctrl.contact.contactid})"
                   class="btn btn-default" ng-disabled="ctrl.contact.contactid == ''"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li ui-sref-active="active">
                    <a href="#" ui-sref="contact.createupdate.description">Описание</a>
                </li>
                <li ui-sref-active="active">
                    <a href="#" ui-sref="contact.createupdate.history">История</a>
                </li>
                <li ui-sref-active="active">
                    <a href="#" ui-sref="contact.createupdate.subscription">Подписки</a>
                </li>
                <li ui-sref-active="active">
                    <a href="#" ui-sref="contact.createupdate.application">Заявки</a>
                </li>
                <li ui-sref-active="active">
                    <a href="#" ui-sref="contact.createupdate.object">Объекты</a>
                </li>
            </ul>
            <div class="tab-content">
                <div ui-view>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" ng-click="ctrl.saveOrUpdate()">Сохранить</button>
        </div>
    </div>
</div>